* {
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
}

#container {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;    
}

#header {
    height: 233px;
    background: url(../img/fundo.png) left top;
}

#header #logo {
    margin: 20px 0;
}

#header #mapa-brasil {
    float: right;
}

#header ul#nav-bar {
    background: #b10333;
    list-style-type: none;
    float: left;
}

#header ul#nav-bar li {
    float: left;
}

#header ul#nav-bar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 14px;
    background: url(../img/divisor.png) no-repeat left center;
}

#header ul#nav-bar a:hover {
    color: #69001d;
}

#header ul#nav-bar a.primeiro-link {
    background: none;
}

#conteudo-header {
    width: 750px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

#principal {
    width: 750px;
    margin: 0 auto;
}

#primario {
    background: blue;
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario {
    width: 555px;
}

#uma-colunas #primario {
    width: 750px;
    margin: 0 0 20px 0;
}

#secundario {
    background: red;
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral {
    width: 180px;
    margin: 0 0 20px -750px;
    float: left;
}

#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto;    
    text-align: center;
    color: white;
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url("../img/fundo-caixa.png");
}

.conteudo-caixa {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul {
    list-style-type: none;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: #f9f9f9 url("../img/marcador.png") no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;    
}

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}